@import "~/.config/rofi/config.rasi"
configuration {
    font:            "JetBrains Mono 15";
    show-icons:      false;
    icon-theme:      "Qogir";
    scroll-method:   0;
    disable-history: false;
    sidebar-mode:    false;
}
